BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
SpacesBeforeTrailingComments: 2
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
